<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.bht.fpa.mail.s798519.fsnavigation.views.NavigationView"
            id="de.bbt.fpa.mail.s798519.fsnavigation.NavigationView"
            name="Filesystem"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.bbt.fpa.mail.s798519.main.perspective">
         <view
               id="de.bbt.fpa.mail.s798519.fsnavigation.NavigationView"
               minimized="false"
               relationship="stack"
               relative="de.bbt.fpa.mail.s798519.main.perspective.left">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="de.bbt.fpa.mail.s798519.fsnavigation.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="de.bbt.fpa.mail.s798519.fsnavigation.commands.category"
            id="de.bbt.fpa.mail.s798519.fsnavigation.commands.sampleCommand"
            name="Change Base Directory">
      </command>
      <command
            categoryId="de.bbt.fpa.mail.s798519.fsnavigation.commands.category"
            id="de.bbt.fpa.mail.s798519.fsnavigation.commands.history"
            name="History">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.bht.fpa.mail.s798519.fsnavigation.handlers.SetBaseDirectoryHandler"
            commandId="de.bbt.fpa.mail.s798519.fsnavigation.commands.sampleCommand">
      </handler>
      <handler
            class="de.bht.fpa.mail.s798519.fsnavigation.handlers.HistoryHandler"
            commandId="de.bbt.fpa.mail.s798519.fsnavigation.commands.history">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.bbt.fpa.mail.s798519.fsnavigation.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
      <key
            commandId="de.bbt.fpa.mail.s798519.fsnavigation.commands.history"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+7">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="de.bbt.fpa.mail.s798519.fsnavigation.menus.sampleMenu"
               label="FS Navigation"
               mnemonic="M">
            <command
                  commandId="de.bbt.fpa.mail.s798519.fsnavigation.commands.sampleCommand"
                  id="de.bbt.fpa.mail.s798519.fsnavigation.menus.sampleCommand"
                  mnemonic="S">
            </command>
            <command
                  commandId="de.bbt.fpa.mail.s798519.fsnavigation.commands.history"
                  id="de.bbt.fpa.mail.s798519.fsnavigation.menus.historyCommand"
                  mnemonic="H"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="de.bbt.fpa.mail.s798519.fsnavigation.toolbars.sampleToolbar">
            <command
                  commandId="de.bbt.fpa.mail.s798519.fsnavigation.commands.sampleCommand"
                  icon="icons/sample.gif"
                  id="de.bbt.fpa.mail.s798519.fsnavigation.toolbars.sampleCommand"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
